image: elixir:1.4

services:
  - postgres:9.6.2

variables:
  POSTGRES_DB: pleroma_test
  POSTGRES_USER: pleroma
  POSTGRES_PASSWORD: pleroma

stages:
  - test

before_script:
  - mix local.hex –force
  - mix local.rebar –force
  - mix deps.get
  - MIX_ENV=test mix ecto.create
  - MIX_ENV=test mix ecto.migrate

unit-testing:
  stage: test
  script:
    - MIX_ENV=test mix test

tags: - elixir 