*.ex diff=elixir
*.exs diff=elixir

# Most os js/css files included in the repo are minified bundles,
#   and we don't want to search/diff those as text files. Exceptions are listed below.
*.js binary
*.js.map binary
*.css binary
priv/static/instance/static.css diff=css
