<br>
<br>
<h2>Sign in with external provider</h2>

<%= for strategy <- Pleroma.Config.get([:auth, :oauth_consumer_strategies], []) do %>
  <%= form_for @conn, o_auth_path(@conn, :request, strategy), [method: "get"], fn f -> %>
    <%= hidden_input f, :state, value: Enum.join([@client_id, @redirect_uri, Enum.join(@available_scopes, " "), @state], "|") %>
    <%= submit "Sign in with #{String.capitalize(strategy)}" %>
  <% end %>
<% end %>
