<%= if @error == :error do %>
    <h2>Error fetching user</h2>
<% else %>
    <h2>Remote follow</h2>
    <img width="128" height="128" src="<%= @avatar %>">
    <p><%= @name %></p>
    <%= form_for @conn, util_path(@conn, :do_remote_follow), [as: "user"], fn f -> %>
    <%= hidden_input f, :id, value: @id %>
    <%= submit "Authorize" %>
    <% end %>
<% end %>
