<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<oembed>
    <version>1.0</version>
    <type>link</type>
    <author_name>raeno</author_name>
    <author_url>http://iamcal.com/</author_url>
    <cache_age>86400</cache_age>
    <provider_name>iamcal.com</provider_name>
    <provider_url>http://iamcal.com/</provider_url>
</oembed>