# default Caddyfile config for Pleroma
#
# Simple installation instructions:
# 1. Replace 'example.tld' with your instance's domain wherever it appears.
# 2. Copy this section into your Caddyfile and restart Caddy.

example.tld  {
  log {
    output file /var/log/caddy/pleroma.log
  }

  encode gzip

  # this is explicitly IPv4 since Pleroma.Web.Endpoint binds on IPv4 only
  # and `localhost.` resolves to [::0] on some systems: see issue #930
  reverse_proxy 127.0.0.1:4000
}
