<div class="p-author h-card">
  <a class="u-url" rel="author noopener" href="<%= (@user.uri || @user.ap_id) %>">
    <div class="avatar">
      <img class="u-photo" src="<%= User.avatar_url(@user) |> MediaProxy.url %>" width="48" height="48" alt="">
    </div>
    <span class="display-name">
      <bdi class="p-name"><%= raw Formatter.emojify(@user.name, @user.emoji) %></bdi>
      <span class="nickname"><%= @user.nickname %></span>
    </span>
  </a>
</div>
