.base00-background { background-color: #1d1f21; }
.base01-background { background-color: #282a2e; }
.base02-background { background-color: #373b41; }
.base03-background { background-color: #969896; }
.base04-background { background-color: #b4b7b4; }
.base05-background { background-color: #c5c8c6; }
.base06-background { background-color: #e0e0e0; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #CC342B; }
.base09-background { background-color: #F96A38; }
.base0A-background { background-color: #FBA922; }
.base0B-background { background-color: #198844; }
.base0C-background { background-color: #3971ED; }
.base0D-background { background-color: #3971ED; }
.base0E-background { background-color: #A36AC7; }
.base0F-background { background-color: #3971ED; }

.base00 { color: #1d1f21; }
.base01 { color: #282a2e; }
.base02 { color: #373b41; }
.base03 { color: #969896; }
.base04 { color: #b4b7b4; }
.base05 { color: #c5c8c6; }
.base06 { color: #e0e0e0; }
.base07 { color: #ffffff; }
.base08 { color: #CC342B; }
.base09 { color: #F96A38; }
.base0A { color: #FBA922; }
.base0B { color: #198844; }
.base0C { color: #3971ED; }
.base0D { color: #3971ED; }
.base0E { color: #A36AC7; }
.base0F { color: #3971ED; }
