.base00-background { background-color: #2e2a31; }
.base01-background { background-color: #4a464d; }
.base02-background { background-color: #666369; }
.base03-background { background-color: #838085; }
.base04-background { background-color: #9f9da2; }
.base05-background { background-color: #bcbabe; }
.base06-background { background-color: #d8d7da; }
.base07-background { background-color: #f5f4f7; }
.base08-background { background-color: #d8137f; }
.base09-background { background-color: #d65407; }
.base0A-background { background-color: #dc8a0e; }
.base0B-background { background-color: #17ad98; }
.base0C-background { background-color: #149bda; }
.base0D-background { background-color: #796af5; }
.base0E-background { background-color: #bb60ea; }
.base0F-background { background-color: #c720ca; }

.base00 { color: #2e2a31; }
.base01 { color: #4a464d; }
.base02 { color: #666369; }
.base03 { color: #838085; }
.base04 { color: #9f9da2; }
.base05 { color: #bcbabe; }
.base06 { color: #d8d7da; }
.base07 { color: #f5f4f7; }
.base08 { color: #d8137f; }
.base09 { color: #d65407; }
.base0A { color: #dc8a0e; }
.base0B { color: #17ad98; }
.base0C { color: #149bda; }
.base0D { color: #796af5; }
.base0E { color: #bb60ea; }
.base0F { color: #c720ca; }
