.base00-background { background-color: #1B2B34; }
.base01-background { background-color: #343D46; }
.base02-background { background-color: #4F5B66; }
.base03-background { background-color: #65737E; }
.base04-background { background-color: #A7ADBA; }
.base05-background { background-color: #C0C5CE; }
.base06-background { background-color: #CDD3DE; }
.base07-background { background-color: #D8DEE9; }
.base08-background { background-color: #EC5f67; }
.base09-background { background-color: #F99157; }
.base0A-background { background-color: #FAC863; }
.base0B-background { background-color: #99C794; }
.base0C-background { background-color: #5FB3B3; }
.base0D-background { background-color: #6699CC; }
.base0E-background { background-color: #C594C5; }
.base0F-background { background-color: #AB7967; }

.base00 { color: #1B2B34; }
.base01 { color: #343D46; }
.base02 { color: #4F5B66; }
.base03 { color: #65737E; }
.base04 { color: #A7ADBA; }
.base05 { color: #C0C5CE; }
.base06 { color: #CDD3DE; }
.base07 { color: #D8DEE9; }
.base08 { color: #EC5f67; }
.base09 { color: #F99157; }
.base0A { color: #FAC863; }
.base0B { color: #99C794; }
.base0C { color: #5FB3B3; }
.base0D { color: #6699CC; }
.base0E { color: #C594C5; }
.base0F { color: #AB7967; }
