.base00-background { background-color: #1D2021; }
.base01-background { background-color: #32302F; }
.base02-background { background-color: #504945; }
.base03-background { background-color: #665C54; }
.base04-background { background-color: #928374; }
.base05-background { background-color: #A89984; }
.base06-background { background-color: #D5C4A1; }
.base07-background { background-color: #FDF4C1; }
.base08-background { background-color: #FB543F; }
.base09-background { background-color: #FE8625; }
.base0A-background { background-color: #FAC03B; }
.base0B-background { background-color: #95C085; }
.base0C-background { background-color: #8BA59B; }
.base0D-background { background-color: #0D6678; }
.base0E-background { background-color: #8F4673; }
.base0F-background { background-color: #A87322; }

.base00 { color: #1D2021; }
.base01 { color: #32302F; }
.base02 { color: #504945; }
.base03 { color: #665C54; }
.base04 { color: #928374; }
.base05 { color: #A89984; }
.base06 { color: #D5C4A1; }
.base07 { color: #FDF4C1; }
.base08 { color: #FB543F; }
.base09 { color: #FE8625; }
.base0A { color: #FAC03B; }
.base0B { color: #95C085; }
.base0C { color: #8BA59B; }
.base0D { color: #0D6678; }
.base0E { color: #8F4673; }
.base0F { color: #A87322; }
