.base00-background { background-color: #000000; }
.base01-background { background-color: #1d2b53; }
.base02-background { background-color: #7e2553; }
.base03-background { background-color: #008751; }
.base04-background { background-color: #ab5236; }
.base05-background { background-color: #5f574f; }
.base06-background { background-color: #c2c3c7; }
.base07-background { background-color: #fff1e8; }
.base08-background { background-color: #ff004d; }
.base09-background { background-color: #ffa300; }
.base0A-background { background-color: #fff024; }
.base0B-background { background-color: #00e756; }
.base0C-background { background-color: #29adff; }
.base0D-background { background-color: #83769c; }
.base0E-background { background-color: #ff77a8; }
.base0F-background { background-color: #ffccaa; }

.base00 { color: #000000; }
.base01 { color: #1d2b53; }
.base02 { color: #7e2553; }
.base03 { color: #008751; }
.base04 { color: #ab5236; }
.base05 { color: #5f574f; }
.base06 { color: #c2c3c7; }
.base07 { color: #fff1e8; }
.base08 { color: #ff004d; }
.base09 { color: #ffa300; }
.base0A { color: #fff024; }
.base0B { color: #00e756; }
.base0C { color: #29adff; }
.base0D { color: #83769c; }
.base0E { color: #ff77a8; }
.base0F { color: #ffccaa; }
