.base00-background { background-color: #f9f9f9; }
.base01-background { background-color: #e0e0e0; }
.base02-background { background-color: #ababab; }
.base03-background { background-color: #555555; }
.base04-background { background-color: #343434; }
.base05-background { background-color: #102015; }
.base06-background { background-color: #040404; }
.base07-background { background-color: #000000; }
.base08-background { background-color: #e92f2f; }
.base09-background { background-color: #e09448; }
.base0A-background { background-color: #dddd13; }
.base0B-background { background-color: #0ed839; }
.base0C-background { background-color: #23edda; }
.base0D-background { background-color: #3b48e3; }
.base0E-background { background-color: #f996e2; }
.base0F-background { background-color: #69542d; }

.base00 { color: #f9f9f9; }
.base01 { color: #e0e0e0; }
.base02 { color: #ababab; }
.base03 { color: #555555; }
.base04 { color: #343434; }
.base05 { color: #102015; }
.base06 { color: #040404; }
.base07 { color: #000000; }
.base08 { color: #e92f2f; }
.base09 { color: #e09448; }
.base0A { color: #dddd13; }
.base0B { color: #0ed839; }
.base0C { color: #23edda; }
.base0D { color: #3b48e3; }
.base0E { color: #f996e2; }
.base0F { color: #69542d; }
