.base00-background { background-color: #0b1c2c; }
.base01-background { background-color: #223b54; }
.base02-background { background-color: #405c79; }
.base03-background { background-color: #627e99; }
.base04-background { background-color: #aabcce; }
.base05-background { background-color: #cbd6e2; }
.base06-background { background-color: #e5ebf1; }
.base07-background { background-color: #f7f9fb; }
.base08-background { background-color: #bf8b56; }
.base09-background { background-color: #bfbf56; }
.base0A-background { background-color: #8bbf56; }
.base0B-background { background-color: #56bf8b; }
.base0C-background { background-color: #568bbf; }
.base0D-background { background-color: #8b56bf; }
.base0E-background { background-color: #bf568b; }
.base0F-background { background-color: #bf5656; }

.base00 { color: #0b1c2c; }
.base01 { color: #223b54; }
.base02 { color: #405c79; }
.base03 { color: #627e99; }
.base04 { color: #aabcce; }
.base05 { color: #cbd6e2; }
.base06 { color: #e5ebf1; }
.base07 { color: #f7f9fb; }
.base08 { color: #bf8b56; }
.base09 { color: #bfbf56; }
.base0A { color: #8bbf56; }
.base0B { color: #56bf8b; }
.base0C { color: #568bbf; }
.base0D { color: #8b56bf; }
.base0E { color: #bf568b; }
.base0F { color: #bf5656; }
