.base00-background { background-color: #000000; }
.base01-background { background-color: #404040; }
.base02-background { background-color: #404040; }
.base03-background { background-color: #808080; }
.base04-background { background-color: #808080; }
.base05-background { background-color: #c0c0c0; }
.base06-background { background-color: #c0c0c0; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #dd0907; }
.base09-background { background-color: #ff6403; }
.base0A-background { background-color: #fbf305; }
.base0B-background { background-color: #1fb714; }
.base0C-background { background-color: #02abea; }
.base0D-background { background-color: #0000d3; }
.base0E-background { background-color: #4700a5; }
.base0F-background { background-color: #90713a; }

.base00 { color: #000000; }
.base01 { color: #404040; }
.base02 { color: #404040; }
.base03 { color: #808080; }
.base04 { color: #808080; }
.base05 { color: #c0c0c0; }
.base06 { color: #c0c0c0; }
.base07 { color: #ffffff; }
.base08 { color: #dd0907; }
.base09 { color: #ff6403; }
.base0A { color: #fbf305; }
.base0B { color: #1fb714; }
.base0C { color: #02abea; }
.base0D { color: #0000d3; }
.base0E { color: #4700a5; }
.base0F { color: #90713a; }
