.base00-background { background-color: #0c0d0e; }
.base01-background { background-color: #2e2f30; }
.base02-background { background-color: #515253; }
.base03-background { background-color: #737475; }
.base04-background { background-color: #959697; }
.base05-background { background-color: #b7b8b9; }
.base06-background { background-color: #dadbdc; }
.base07-background { background-color: #fcfdfe; }
.base08-background { background-color: #e31a1c; }
.base09-background { background-color: #e6550d; }
.base0A-background { background-color: #dca060; }
.base0B-background { background-color: #31a354; }
.base0C-background { background-color: #80b1d3; }
.base0D-background { background-color: #3182bd; }
.base0E-background { background-color: #756bb1; }
.base0F-background { background-color: #b15928; }

.base00 { color: #0c0d0e; }
.base01 { color: #2e2f30; }
.base02 { color: #515253; }
.base03 { color: #737475; }
.base04 { color: #959697; }
.base05 { color: #b7b8b9; }
.base06 { color: #dadbdc; }
.base07 { color: #fcfdfe; }
.base08 { color: #e31a1c; }
.base09 { color: #e6550d; }
.base0A { color: #dca060; }
.base0B { color: #31a354; }
.base0C { color: #80b1d3; }
.base0D { color: #3182bd; }
.base0E { color: #756bb1; }
.base0F { color: #b15928; }
