.base00-background { background-color: #151718; }
.base01-background { background-color: #8ec43d; }
.base02-background { background-color: #3B758C; }
.base03-background { background-color: #41535B; }
.base04-background { background-color: #43a5d5; }
.base05-background { background-color: #d6d6d6; }
.base06-background { background-color: #eeeeee; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #Cd3f45; }
.base09-background { background-color: #db7b55; }
.base0A-background { background-color: #e6cd69; }
.base0B-background { background-color: #9fca56; }
.base0C-background { background-color: #55dbbe; }
.base0D-background { background-color: #55b5db; }
.base0E-background { background-color: #a074c4; }
.base0F-background { background-color: #8a553f; }

.base00 { color: #151718; }
.base01 { color: #8ec43d; }
.base02 { color: #3B758C; }
.base03 { color: #41535B; }
.base04 { color: #43a5d5; }
.base05 { color: #d6d6d6; }
.base06 { color: #eeeeee; }
.base07 { color: #ffffff; }
.base08 { color: #Cd3f45; }
.base09 { color: #db7b55; }
.base0A { color: #e6cd69; }
.base0B { color: #9fca56; }
.base0C { color: #55dbbe; }
.base0D { color: #55b5db; }
.base0E { color: #a074c4; }
.base0F { color: #8a553f; }
