.base00-background { background-color: #061229; }
.base01-background { background-color: #2a3448; }
.base02-background { background-color: #4d5666; }
.base03-background { background-color: #717885; }
.base04-background { background-color: #9a99a3; }
.base05-background { background-color: #b8bbc2; }
.base06-background { background-color: #dbdde0; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #d07346; }
.base09-background { background-color: #f0a000; }
.base0A-background { background-color: #fbd461; }
.base0B-background { background-color: #99bf52; }
.base0C-background { background-color: #72b9bf; }
.base0D-background { background-color: #5299bf; }
.base0E-background { background-color: #9989cc; }
.base0F-background { background-color: #b08060; }

.base00 { color: #061229; }
.base01 { color: #2a3448; }
.base02 { color: #4d5666; }
.base03 { color: #717885; }
.base04 { color: #9a99a3; }
.base05 { color: #b8bbc2; }
.base06 { color: #dbdde0; }
.base07 { color: #ffffff; }
.base08 { color: #d07346; }
.base09 { color: #f0a000; }
.base0A { color: #fbd461; }
.base0B { color: #99bf52; }
.base0C { color: #72b9bf; }
.base0D { color: #5299bf; }
.base0E { color: #9989cc; }
.base0F { color: #b08060; }
