.base00-background { background-color: #18262F; }
.base01-background { background-color: #222E38; }
.base02-background { background-color: #586875; }
.base03-background { background-color: #667581; }
.base04-background { background-color: #85939E; }
.base05-background { background-color: #A6AFB8; }
.base06-background { background-color: #E8E9ED; }
.base07-background { background-color: #F5F7FA; }
.base08-background { background-color: #EF5253; }
.base09-background { background-color: #E66B2B; }
.base0A-background { background-color: #E4B51C; }
.base0B-background { background-color: #7CC844; }
.base0C-background { background-color: #52CBB0; }
.base0D-background { background-color: #33B5E1; }
.base0E-background { background-color: #A363D5; }
.base0F-background { background-color: #D73C9A; }

.base00 { color: #18262F; }
.base01 { color: #222E38; }
.base02 { color: #586875; }
.base03 { color: #667581; }
.base04 { color: #85939E; }
.base05 { color: #A6AFB8; }
.base06 { color: #E8E9ED; }
.base07 { color: #F5F7FA; }
.base08 { color: #EF5253; }
.base09 { color: #E66B2B; }
.base0A { color: #E4B51C; }
.base0B { color: #7CC844; }
.base0C { color: #52CBB0; }
.base0D { color: #33B5E1; }
.base0E { color: #A363D5; }
.base0F { color: #D73C9A; }
