.base00-background { background-color: #ffffff; }
.base01-background { background-color: #e0e0e0; }
.base02-background { background-color: #d6d6d6; }
.base03-background { background-color: #8e908c; }
.base04-background { background-color: #969896; }
.base05-background { background-color: #4d4d4c; }
.base06-background { background-color: #282a2e; }
.base07-background { background-color: #1d1f21; }
.base08-background { background-color: #c82829; }
.base09-background { background-color: #f5871f; }
.base0A-background { background-color: #eab700; }
.base0B-background { background-color: #718c00; }
.base0C-background { background-color: #3e999f; }
.base0D-background { background-color: #4271ae; }
.base0E-background { background-color: #8959a8; }
.base0F-background { background-color: #a3685a; }

.base00 { color: #ffffff; }
.base01 { color: #e0e0e0; }
.base02 { color: #d6d6d6; }
.base03 { color: #8e908c; }
.base04 { color: #969896; }
.base05 { color: #4d4d4c; }
.base06 { color: #282a2e; }
.base07 { color: #1d1f21; }
.base08 { color: #c82829; }
.base09 { color: #f5871f; }
.base0A { color: #eab700; }
.base0B { color: #718c00; }
.base0C { color: #3e999f; }
.base0D { color: #4271ae; }
.base0E { color: #8959a8; }
.base0F { color: #a3685a; }
