.base00-background { background-color: #1f2022; }
.base01-background { background-color: #282828; }
.base02-background { background-color: #444155; }
.base03-background { background-color: #585858; }
.base04-background { background-color: #b8b8b8; }
.base05-background { background-color: #a3a3a3; }
.base06-background { background-color: #e8e8e8; }
.base07-background { background-color: #f8f8f8; }
.base08-background { background-color: #f2241f; }
.base09-background { background-color: #ffa500; }
.base0A-background { background-color: #b1951d; }
.base0B-background { background-color: #67b11d; }
.base0C-background { background-color: #2d9574; }
.base0D-background { background-color: #4f97d7; }
.base0E-background { background-color: #a31db1; }
.base0F-background { background-color: #b03060; }

.base00 { color: #1f2022; }
.base01 { color: #282828; }
.base02 { color: #444155; }
.base03 { color: #585858; }
.base04 { color: #b8b8b8; }
.base05 { color: #a3a3a3; }
.base06 { color: #e8e8e8; }
.base07 { color: #f8f8f8; }
.base08 { color: #f2241f; }
.base09 { color: #ffa500; }
.base0A { color: #b1951d; }
.base0B { color: #67b11d; }
.base0C { color: #2d9574; }
.base0D { color: #4f97d7; }
.base0E { color: #a31db1; }
.base0F { color: #b03060; }
