.base00-background { background-color: #ffffff; }
.base01-background { background-color: #e1e1e2; }
.base02-background { background-color: #c4c3c5; }
.base03-background { background-color: #a7a5a8; }
.base04-background { background-color: #89878b; }
.base05-background { background-color: #6c696e; }
.base06-background { background-color: #4f4b51; }
.base07-background { background-color: #322d34; }
.base08-background { background-color: #d8137f; }
.base09-background { background-color: #d65407; }
.base0A-background { background-color: #dc8a0e; }
.base0B-background { background-color: #17ad98; }
.base0C-background { background-color: #149bda; }
.base0D-background { background-color: #775dff; }
.base0E-background { background-color: #aa17e6; }
.base0F-background { background-color: #e013d0; }

.base00 { color: #ffffff; }
.base01 { color: #e1e1e2; }
.base02 { color: #c4c3c5; }
.base03 { color: #a7a5a8; }
.base04 { color: #89878b; }
.base05 { color: #6c696e; }
.base06 { color: #4f4b51; }
.base07 { color: #322d34; }
.base08 { color: #d8137f; }
.base09 { color: #d65407; }
.base0A { color: #dc8a0e; }
.base0B { color: #17ad98; }
.base0C { color: #149bda; }
.base0D { color: #775dff; }
.base0E { color: #aa17e6; }
.base0F { color: #e013d0; }
