.base00-background { background-color: #16130F; }
.base01-background { background-color: #2C2620; }
.base02-background { background-color: #433B32; }
.base03-background { background-color: #5A5047; }
.base04-background { background-color: #8A8075; }
.base05-background { background-color: #A39A90; }
.base06-background { background-color: #BEB6AE; }
.base07-background { background-color: #DBD6D1; }
.base08-background { background-color: #826D57; }
.base09-background { background-color: #828257; }
.base0A-background { background-color: #6D8257; }
.base0B-background { background-color: #57826D; }
.base0C-background { background-color: #576D82; }
.base0D-background { background-color: #6D5782; }
.base0E-background { background-color: #82576D; }
.base0F-background { background-color: #825757; }

.base00 { color: #16130F; }
.base01 { color: #2C2620; }
.base02 { color: #433B32; }
.base03 { color: #5A5047; }
.base04 { color: #8A8075; }
.base05 { color: #A39A90; }
.base06 { color: #BEB6AE; }
.base07 { color: #DBD6D1; }
.base08 { color: #826D57; }
.base09 { color: #828257; }
.base0A { color: #6D8257; }
.base0B { color: #57826D; }
.base0C { color: #576D82; }
.base0D { color: #6D5782; }
.base0E { color: #82576D; }
.base0F { color: #825757; }
