.base00-background { background-color: #263238; }
.base01-background { background-color: #2C393F; }
.base02-background { background-color: #37474F; }
.base03-background { background-color: #707880; }
.base04-background { background-color: #C9CCD3; }
.base05-background { background-color: #CDD3DE; }
.base06-background { background-color: #D5DBE5; }
.base07-background { background-color: #FFFFFF; }
.base08-background { background-color: #EC5F67; }
.base09-background { background-color: #EA9560; }
.base0A-background { background-color: #FFCC00; }
.base0B-background { background-color: #8BD649; }
.base0C-background { background-color: #80CBC4; }
.base0D-background { background-color: #89DDFF; }
.base0E-background { background-color: #82AAFF; }
.base0F-background { background-color: #EC5F67; }

.base00 { color: #263238; }
.base01 { color: #2C393F; }
.base02 { color: #37474F; }
.base03 { color: #707880; }
.base04 { color: #C9CCD3; }
.base05 { color: #CDD3DE; }
.base06 { color: #D5DBE5; }
.base07 { color: #FFFFFF; }
.base08 { color: #EC5F67; }
.base09 { color: #EA9560; }
.base0A { color: #FFCC00; }
.base0B { color: #8BD649; }
.base0C { color: #80CBC4; }
.base0D { color: #89DDFF; }
.base0E { color: #82AAFF; }
.base0F { color: #EC5F67; }
