.base00-background { background-color: #ffffff; }
.base01-background { background-color: #f5f5f5; }
.base02-background { background-color: #c8c8fa; }
.base03-background { background-color: #969896; }
.base04-background { background-color: #e8e8e8; }
.base05-background { background-color: #333333; }
.base06-background { background-color: #ffffff; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #ed6a43; }
.base09-background { background-color: #0086b3; }
.base0A-background { background-color: #795da3; }
.base0B-background { background-color: #183691; }
.base0C-background { background-color: #183691; }
.base0D-background { background-color: #795da3; }
.base0E-background { background-color: #a71d5d; }
.base0F-background { background-color: #333333; }

.base00 { color: #ffffff; }
.base01 { color: #f5f5f5; }
.base02 { color: #c8c8fa; }
.base03 { color: #969896; }
.base04 { color: #e8e8e8; }
.base05 { color: #333333; }
.base06 { color: #ffffff; }
.base07 { color: #ffffff; }
.base08 { color: #ed6a43; }
.base09 { color: #0086b3; }
.base0A { color: #795da3; }
.base0B { color: #183691; }
.base0C { color: #183691; }
.base0D { color: #795da3; }
.base0E { color: #a71d5d; }
.base0F { color: #333333; }
