.base00-background { background-color: #f8f8f8; }
.base01-background { background-color: #e8e8e8; }
.base02-background { background-color: #d8d8d8; }
.base03-background { background-color: #b8b8b8; }
.base04-background { background-color: #585858; }
.base05-background { background-color: #383838; }
.base06-background { background-color: #282828; }
.base07-background { background-color: #181818; }
.base08-background { background-color: #ab4642; }
.base09-background { background-color: #dc9656; }
.base0A-background { background-color: #f79a0e; }
.base0B-background { background-color: #538947; }
.base0C-background { background-color: #4b8093; }
.base0D-background { background-color: #7cafc2; }
.base0E-background { background-color: #96609e; }
.base0F-background { background-color: #a16946; }

.base00 { color: #f8f8f8; }
.base01 { color: #e8e8e8; }
.base02 { color: #d8d8d8; }
.base03 { color: #b8b8b8; }
.base04 { color: #585858; }
.base05 { color: #383838; }
.base06 { color: #282828; }
.base07 { color: #181818; }
.base08 { color: #ab4642; }
.base09 { color: #dc9656; }
.base0A { color: #f79a0e; }
.base0B { color: #538947; }
.base0C { color: #4b8093; }
.base0D { color: #7cafc2; }
.base0E { color: #96609e; }
.base0F { color: #a16946; }
