.base00-background { background-color: #000000; }
.base01-background { background-color: #242422; }
.base02-background { background-color: #484844; }
.base03-background { background-color: #6c6c66; }
.base04-background { background-color: #918f88; }
.base05-background { background-color: #b5b3aa; }
.base06-background { background-color: #d9d7cc; }
.base07-background { background-color: #fdfbee; }
.base08-background { background-color: #ff6c60; }
.base09-background { background-color: #e9c062; }
.base0A-background { background-color: #ffffb6; }
.base0B-background { background-color: #a8ff60; }
.base0C-background { background-color: #c6c5fe; }
.base0D-background { background-color: #96cbfe; }
.base0E-background { background-color: #ff73fd; }
.base0F-background { background-color: #b18a3d; }

.base00 { color: #000000; }
.base01 { color: #242422; }
.base02 { color: #484844; }
.base03 { color: #6c6c66; }
.base04 { color: #918f88; }
.base05 { color: #b5b3aa; }
.base06 { color: #d9d7cc; }
.base07 { color: #fdfbee; }
.base08 { color: #ff6c60; }
.base09 { color: #e9c062; }
.base0A { color: #ffffb6; }
.base0B { color: #a8ff60; }
.base0C { color: #c6c5fe; }
.base0D { color: #96cbfe; }
.base0E { color: #ff73fd; }
.base0F { color: #b18a3d; }
