.base00-background { background-color: #FFFFFF; }
.base01-background { background-color: #E0E0E0; }
.base02-background { background-color: #D0D0D0; }
.base03-background { background-color: #B0B0B0; }
.base04-background { background-color: #000000; }
.base05-background { background-color: #101010; }
.base06-background { background-color: #151515; }
.base07-background { background-color: #202020; }
.base08-background { background-color: #FF0086; }
.base09-background { background-color: #FD8900; }
.base0A-background { background-color: #ABA800; }
.base0B-background { background-color: #00C918; }
.base0C-background { background-color: #1FAAAA; }
.base0D-background { background-color: #3777E6; }
.base0E-background { background-color: #AD00A1; }
.base0F-background { background-color: #CC6633; }

.base00 { color: #FFFFFF; }
.base01 { color: #E0E0E0; }
.base02 { color: #D0D0D0; }
.base03 { color: #B0B0B0; }
.base04 { color: #000000; }
.base05 { color: #101010; }
.base06 { color: #151515; }
.base07 { color: #202020; }
.base08 { color: #FF0086; }
.base09 { color: #FD8900; }
.base0A { color: #ABA800; }
.base0B { color: #00C918; }
.base0C { color: #1FAAAA; }
.base0D { color: #3777E6; }
.base0E { color: #AD00A1; }
.base0F { color: #CC6633; }
