<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimal-ui" />
    <title><%= Pleroma.Config.get([:instance, :name]) %></title>
    <%= Phoenix.HTML.raw(assigns[:meta] || "") %>
    <link rel="stylesheet" href="/static/static-fe.css">
  </head>
  <body>
    <div class="container">
      <%= render @view_module, @view_template, assigns %>
    </div>
  </body>
</html>
