h1.column-header {
    background-color: #182230;
    color: #d8a070;
}

button.column-header__button {
    background-color: #182230;
}

div.status.status-public {
    background-color: #121a24;
}

button.column-header__button.active {
    background-color: #182230;
}

div.notification.notification-favourite.focusable {
    background-color: #121a24;
}

span.display-name__account {
    color: #d8a070;
}

a.status__relative-time time {
    color: #d8a070;
}

div.status__wrapper.status__wrapper-public.focusable {
    background-color: #121a24;
}

div.status__prepend {
    background-color: #121a24;
}

a.status-link {
    color: #d8a070;
}

i.fa {
    color: #d8a070;
}

button.status__action-bar-button.icon-button {
    color: #d8a070;
}

div.status__content.status__content--with-action {
    color: #b9b9ba;
}

div.drawer__inner {
    background-color: #121a24;
}

a.drawer__tab {
    background-color: #182230;
    color: #d8a070;
}

div.column-header {
    background-color: #182230;
}

a.column-link {
    background-color: #121a24;
}

div.column-subheading {
    background-color: #182230;
    color: #b9b9ba;
}

div.static-content.getting-started {
    display: none;
    height: 0px;
}

div.column-header__collapsible-inner {
    background-color: #182230;
    color: #b9b9ba;
}

button.button.button--block {
    background-color: #d8a070;
}

button.column-header__back-button {
    background-color: #182230;
    color: #d8a070;
}

button.column-back-button {
    background-color: #182230;
    color: #d8a070;
}

div.scrollable.detailed-status__wrapper {
    background-color: #121a24;
}

div.detailed-status {
    background-color: #121a24;
}

div.detailed-status__action-bar {
    background-color: #121a24;
}

a.navigation-bar__profile-edit span {
    color: #d8a070;
}

div.compose-form__buttons {
    background-color: #182230;
    color: #b9b9ba;
}

button.text-icon-button {
    color: #d8a070;
}

div.getting-started__footer.scrollable.optionally-scrollable {
    background-color: #121a24;
}