* {
  box-sizing: border-box;
}

:root {
  --brand-color: #0482d8;
  --background-color: #f2f2f2;
  --foreground-color: #fff;
  --primary-text-color: #111827;
  --muted-text-color: #868393;
}

body {
  background: linear-gradient(to right top, #f2f9fd, #fff, #ecfeff);
  font-family: sans-serif;
  color: var(--primary-text-color);
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.instance-header {
  height: 48px;
  padding: 4px;
  background: var(--foreground-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
}

.instance-header__content {
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

.instance-header__thumbnail {
  max-width: 40px;
  border-radius: 4px;
  margin-right: 12px;
}

.instance-header__title {
  font-size: 16px;
  font-weight: bold;
  color: var(--primary-text-color);
}

.container {
  width: 100%;
  padding: 16px;
  background-color: var(--foreground-color);
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px
}

.container__content {
  padding: 0 20px;
}

h1 {
  margin: 0;
  font-size: 24px;
  text-align: center;
}

h2 {
  color: var(--primary-text-color);
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}

h2:first-child:not(:last-child) {
  margin: 0 -16px 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e7eb;
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-weight: 500;
}

a {
  color: var(--brand-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

form {
  width: 100%;
}

.input {
  display: flex;
  flex-direction: column;
  color: #374151;
  font-size: 14px;
  line-height: 1.5;
}

input {
  box-sizing: content-box;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: var(--foreground-color);
  color: var(--primary-text-color);
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 14px;
}

input:focus {
  border-color: #6366f1;
  outline: none;
  box-shadow: rgb(99, 102, 241) 0px 0px 0px 1px;
}

.scopes-input {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  color: var(--muted-text-color);
  font-size: 12px;
}

.scopes-input label:first-child {
  height: 2em;
}

.scopes {
  display: flex;
  flex-wrap: wrap;
  color: var(--primary-text-color);
}

.scope {
  display: flex;
  flex-basis: 100%;
  height: 2em;
  align-items: center;
}

.scope:before {
  color: var(--primary-text-color);
  content: "✔\fe0e";
  margin-left: 1em;
  margin-right: 1em;
}

[type="checkbox"] + label {
  display: none;
  cursor: pointer;
  margin: 0.5em;
}

[type="checkbox"] {
  display: none;
}

[type="checkbox"] + label:before {
  cursor: pointer;
  display: inline-block;
  color: white;
  background-color: var(--background-color);
  border: 4px solid var(--background-color);
  box-shadow: 0px 0px 1px 0 var(--brand-color);
  width: 1.2em;
  height: 1.2em;
  margin-right: 1.0em;
  content: "";
  transition-property: background-color;
  transition-duration: 0.35s;
  color: var(--background-color);
  margin-bottom: -0.2em;
  border-radius: 2px;
}

[type="checkbox"]:checked + label:before {
  background-color: var(--brand-color);
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.actions button,
.actions a.button {
  width: auto;
  margin-left: 10px;
}

a.button,
button {
  display: inline-flex;
  align-items: center;
  border-radius: 9999px;
  padding: 8px 16px;
  margin-left: auto;
  appearance: none;
  background: #0482d8;
  color: white;
  border: none;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  transition: all 0.2s;
}

a.button:hover,
button:hover {
  background: #0362a2;
  cursor: pointer;
}

.alert-danger {
  width: 100%;
  background-color: #931014;
  border: 1px solid #a06060;
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
}

.alert-info {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #7d796a;
  padding: 10px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
}

.account-header__banner {
  height: 0;
  width: calc(100% + 32px);
  margin: -16px;
  padding-bottom: calc(100% / 3);
  background-size: cover;
  background-position: center;
}

.account-header__avatar {
  width: 94px;
  height: 94px;
  background-size: cover;
  background-position: center;
  margin: -47px 10px 0;
  border: 4px solid var(--foreground-color);
  border-radius: 999px;
}

.account-header__meta {
  padding: 6px 20px 17px;
}

.account-header__display-name {
  font-size: 20px;
  font-weight: bold;
}

.account-header__nickname {
  font-size: 14px;
  color: var(--muted-text-color);
}

@media all and (max-width: 420px) {
  .container {
    margin: 0 auto;
    border-radius: 0;
  }

  .scope {
    flex-basis: 0%;
  }

  .scope:before {
    content: "";
    margin-left: 0em;
    margin-right: 1em;
  }

  .scope:first-child:before {
    margin-left: 1em;
    content: "✔\fe0e";
  }

  .scope:after {
    content: ",";
  }

  .scope:last-child:after {
    content: "";
  }
}
.form-row {
  display: flex;
}
.form-row > label {
  line-height: 47px;
  flex: 1;
}
.form-row > input {
  flex: 2;
}

@media (min-width: 581px) {
  .container {
    width: 512px;
    margin: 35px auto;
    padding: 40px;
    border-radius: 24px;
  }

  h2:first-child:not(:last-child) {
    padding-bottom: 40px;
    margin: 0 -40px 16px;
  }

  .account-header__banner {
    width: calc(100% + 80px);
    margin: -40px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 672px;
  }
}

@media (min-width: 976px) {
  .instance-header {
    height: 64px;
    padding: 12px 0;
  }
}